html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: #444;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background: white;
  border: solid 5px silver;
}

.board {
  width: calc(90vh / 1.8);
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  border: solid 5px silver;
  background-color: silver;
}

.row {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;

  &:first-of-type {
    display: none;
  }

  &.full {
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-name: row-full;
  }
}

@keyframes row-full {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.block {
  --lightness: 75%;
  flex: 1;
  border: solid 3px black;
  margin: 0.5px;
  box-shadow: inset 0 0 1.5vh black;
  border-radius: 5%;

  &[type="x"] {
    background: white;
    border-color: rgba(128,128,128,0.0);
    border-style: dotted;
    box-shadow: none;
    // border-radius: 0;
  }

  &[type="l"] {
    background: hsl(51, 100%, var(--lightness))
  }

  &[type="j"] {
    background: hsl(102, 100%, var(--lightness));
  }

  &[type="s"] {
    background: hsl(154, 100%, var(--lightness));
  }

  &[type="z"] {
    background: hsl(206, 100%, var(--lightness));
  }

  &[type="o"] {
    background: hsl(257, 100%, var(--lightness));
  }

  &[type="t"] {
    background: hsl(308, 100%, var(--lightness));
  }

  &[type="i"] {
    background: hsl(360, 100%, var(--lightness));
  }
}