html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: #444;
}

.board {
  width: calc(90vh / 1.8);
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  border: solid 10px black;
}

.row {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;

  &:first-of-type {
    opacity: 0.5;
    // display: none;
  }

  &.full {
    opacity: 0.5;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: row-full;
  }
}

@keyframes row-full {
  0% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.75;
  }
}

.block {
  --lightness: 35%;
  flex: 1;
  border: dotted 0.5px rgba(128,128,128,0.1);

  &[type="x"] {
    background: white;
  }

  &[type="l"] {
    background: hsl(51, 100%, var(--lightness))
  }

  &[type="j"] {
    background: hsl(102, 100%, var(--lightness));
  }

  &[type="s"] {
    background: hsl(154, 100%, var(--lightness));
  }

  &[type="z"] {
    background: hsl(206, 100%, var(--lightness));
  }

  &[type="o"] {
    background: hsl(257, 100%, var(--lightness));
  }

  &[type="t"] {
    background: hsl(308, 100%, var(--lightness));
  }

  &[type="i"] {
    background: hsl(360, 100%, var(--lightness));
  }
}